/* Box model */

body {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: red;
    /* Geral *;
    /* padding: 20px; */
    /* Especifico */
    /* padding-top: 30px;
    padding-left: 10px;
    padding-bottom: 20px;
    padding-right: 5px; */
    /* Especifico Agrupado */
    padding: 30px 10px 20px 5px;
    /* especifico agrupado 3 medidas - top, right-left, bottom */
    padding: 30px 20px 5px;
    /* especifico agrupado 2 medidas */
    padding: 30px 20px;
    border: 8px double #000;
    border-width: 5px 10px 2px 2px;
    border-left: 5px dotted yellow;
    border-right-style: dashed;
    border-width: 20px 10px;
    border-radius: 15px;
}

.paragrafo-box {
    color: #000;
    margin: 0;
}