/* Units */

.pixel-1 {
    background-color: red;
    width: 100px;
    height: 100px;
}

.pixel-2 {
    background-color: blue;
    width: 500px;
    height: 50px;
}

.pai-porcentagem {
    width: 500px;
    height: 500px;
    background-color: black;
}

.porcentagem-1 {
    width: 50%;
    height: 50%;
    background-color: yellow;
}

.porcentagem-2 {
    width: 50%;
    height: 50%;
    background-color: black;
}

.pai-em {
    font-size: 50px;
}

.em-1 {
    width: 2em;
    height: 2em;
    background-color: purple;
}